<table class="table-stock">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Judul</th>
      <th>Kategori</th>
      <th>UPBJJ</th>
      <th>Harga</th>
      <th>Qty</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr v-for="(item, index) in stok" :key="index">
      <td>{{ item.kode }}</td>
      <td v-html="item.judul | boldTitle"></td>
      <td>{{ item.kategori }}</td>
      <td>{{ item.upbjj }}</td>
      <td>{{ item.harga | rupiah }}</td>
      <td>{{ item.qty }}</td>
      <td>
        <status-badge :qty="item.qty" :safety="item.safety"/>
      </td>
    </tr>
  </tbody>
</table>
